.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    background: url(../Images/background.jpg) fixed;
    background-size: 333px;
}


/* Navbar */
.logo-image {
    max-width: 100%;
}

.bold{
    font-weight:bold;
    color: black;
}

.form-center {
       width: 100%;
    margin: 0 auto;
}

.navbar-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.navbar-button {
    border: 4px solid #3664AE;
    border-radius: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
}

    .navbar-button:hover {
        border: 4px solid #3664AE;
        background-color: #FFCB04;
    }

.navbar-logo {
    margin: auto;
    width: 20%;
}

/* Pokemon List */
.featured {
    text-align: center;
    margin-bottom: 20px;
    color: #4169E1;

}

.white-background{
    background-color: rgba(255, 255, 255, 0.75);
}

.type-div {
    width: 112%;
    margin-left: -5%;
}

.pagination-container {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.pokemon-data {
    border: 2px solid black;
    border-radius: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pokemon-name {
    text-align: center;
    font-size: 34px;
    margin-top: 10px;
    color: #4169E1;
    font-weight: bold;
}

.pokemon-number {
    color: #adc3ff;
}

.pokemon-img-container {
    width: 30%;
    margin: 0 0 0 5%;
    float: left;
}

.pokemon-img {
    background-color: #F2F2F2;
    display: block;
    width: 100%;
}

.pokemon-txt-container {
    float: left;
    width: 60%;
    margin: 0 2% 0 2%;
    padding: 0 50px 20px 50px;
}

.pokemon-txt-header {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.type-img {
    max-height: 80px;
    margin-top: -5px;
}

.pokemon-blue-container {
    border-radius: 30px;
    background-color: #4169E1;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pokemon-hw {
    color: white;
    font-size: 20px;
}

.pokeball-div {
    max-height: 80px;
    max-width: 138px;
    float: right;
    margin-left: -50px;
}

.pokeball-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.delete {
    max-height: 100px;
    max-width: 100px;
    float: right;
    margin-right: 30px;
    margin-top: -50px;
}

.basura {
    margin: auto;
    width: 100%;
}

/* Insert Form */
.type-container {
    width: 80%;
    float: right;
}

.type {
    width: auto;
    float: left;
}

.error-text {
    text-align: center;
    color: #f54242
}

.weakness {
    width: 150px;
    height: 500px;
    text-align: center
}

.random-pokemon {
    float: left;
    width: 30%;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center
}

.random-pokemon-img {
    background-color: #F2F2F2;
    display: block;
    width: 80%;
    margin:auto;
}

/* Index */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/fondoa.png') center center no-repeat;
    background-size: cover;
}

    .header .header-content {
        padding-top: 8rem;
        padding-bottom: 2.125rem;
        text-align: center;
    }

    .header .text-container {
        margin-bottom: 3rem;
    }

    .header h1 {
        margin-bottom: 0.5rem;
        color: #fff;
    }

    .header .p-large {
        margin-bottom: 2rem;
        color: #dfe5ec;
    }

    .header .btn-solid-lg {
        margin-right: 0.5rem;
        margin-bottom: 1.25rem;
    }

.cards-1 {
    padding-top: 3rem;
    padding-bottom: 2.875rem;
}

    .cards-1 .card {
        margin: 0px 50px 0px 100px;
        margin-bottom: 2.5rem;
        border: none;
        text-align: center;
    }

    .cards-1 .fa-stack {
        width: 6rem;
        height: 6rem;
        margin-right: auto;
        margin-bottom: 1rem;
        margin-left: auto;
        line-height: 6rem;
        text-align: left;
    }

        .cards-1 .fa-stack .hexagon {
            position: absolute;
            width: 6rem;
            height: 6rem;
            background: url('../Images/pokeball.svg') center center no-repeat;
            background-size: 6rem 6rem;
            margin-bottom: 30px;
        }

    .cards-1 .fa-stack-1x {
        color: #fff;
        font-size: 2rem;
    }

    .cards-1 .card-body {
        width:250px;
        padding: 0;
        margin-top: 80px;
    }

    .cards-1 .card-title {
        margin-bottom: 0.625rem;
    }


/************************/
/*     07. Services     */
/************************/
.cards-2 {
    padding-top: 6.625rem;
    padding-bottom: 1.25rem;
    background-color: #fbfbfb;
}

    .cards-2 .section-title {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .cards-2 h2 {
        margin-bottom: 3.25rem;
        text-align: center;
    }

    .cards-2 .card {
        margin-bottom: 5.625rem;
        border: none;
        background-color: transparent;
    }

    .cards-2 .card-image img {
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }

    .cards-2 .card-body {
        padding: 2.25rem 2rem 2.125rem 2rem;
        border: 1px solid #ebe8e8;
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        background-color: #fff;
    }

    .cards-2 h3 {
        margin-bottom: 0.75rem;
        text-align: center;
    }

    .cards-2 .list-unstyled {
        margin-bottom: 1.5rem;
    }

        .cards-2 .list-unstyled .fas {
            color: #14bf98;
            font-size: 0.5rem;
            line-height: 1.375rem;
        }

        .cards-2 .list-unstyled .media-body {
            margin-left: 0.625rem;
        }

    .cards-2 .price {
        margin-bottom: 0.25rem;
        color: #484a46;
        font: 700 1rem/1.5rem "Montserrat", sans-serif;
        text-align: center;
    }

        .cards-2 .price span {
            color: #14bf98;
        }

    .cards-2 .button-container {
        margin-top: -1.375rem;
        text-align: center;
    }

    .cards-2 .btn-solid-reg:hover {
        background-color: #fff;
    }

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    /*font-family: Poppins-Regular, sans-serif;*/
}

/*---------------------------------------------*/
a {
    /*font-family: Poppins-Regular;*/
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #57b846;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    /*font-family: Poppins-Regular;*/
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        textarea:focus:-moz-placeholder {
            color: transparent;
        }

        textarea:focus::-moz-placeholder {
            color: transparent;
        }

        textarea:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    border-radius:50px;
    width: 100%;
    min-height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 130px 33px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
    width: 316px;
}

    .login100-pic img {
        max-width: 100%;
    }


/*------------------------------------------------------------------
[  ]*/
.login100-form {
    width: 290px;
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #57b846;
    padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background: #333333;
    }



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}