
<div class="container col-lg-3" style="margin-left:1000px; margin-top:-800px">
    <div>
        <a href="@Url.Action("Index", "Pokemon", new { Page = 1, Type = item.name })">
            <img style="max-height:80px;" src="~/Irudiak/ikonoak/basura.jpg" />
    </div>
</div>